<div class="container-fluid">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <h1 class="text-center">Please Login</h1>
    <h1 class="text-center">{{ message }}</h1>
    <div class="form-group">
      <label for="username">Username: </label>
      <input
        class="form-control"
        type="text"
        name="username"
        [(ngModel)]="creds.username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input
        class="form-control"
        type="password"
        name="password"
        [(ngModel)]="creds.password"
      />
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <!-- <button (click)="onSelectRegistration()">Registration</button> -->
</div>
